
/*顏色*/ 
$red:#D0021B;
$orange:#F5A623;
$blue:#4A90E2;
$green:#7ED321;
$grey1:#F2F2F2;
$grey2:#E1E1E1;
$grey3:#C8C8C8;
$grey4:#9B9B9B ;
$grey5:#757575;

.green{
    color: $green;
}
.red{
    color: $red;
}
.blue{
    color: $blue;
}

@mixin panel{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 5px rgb(223, 223, 223);
}
@mixin border-b{
    border-bottom: 1px solid $grey2;
}
