@import"reset";
@import"panel";
/*header*/

header {
    background-color: black;
    color: #fff;
    font-weight: 700;
    .navbar {
        align-items: unset;
        h1 {
            margin-right: 60px;
            a {
                color: #fff;
                font-size: 1.5rem;
            }
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: $grey3;
        padding: 1.5rem 1rem;
        border-bottom: 3px solid #000;
        transition: all 0.5s;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff;
        border-bottom: 3px solid #fff;
    }
}

/*index.html start*/

/*main*/

.main {
    background-color: $grey1;
}

/*title*/

.title {
    h2 {
        font-size: 1.5rem;
    }
}

.title-dateBox {
    color: $grey4;
    #dropdownMenuButton {
        background-color: rgba(255, 255, 255, 0);
        color: $grey4;
        border: none;
    }
    .dropdown-menu {
        min-width: 1rem;
        left: -50% !important;
        padding: 0;
        .dropdown-item {
            padding: 1rem 2.25rem;
        }
        .dropdown-item:hover {
            background-color: #000;
            color: #fff;
        }
    }
    .dropdown-toggle::after {
        color: #000;
    }
}

/*block1*/

.block1 {
    .infoBox {
        padding: 1.9rem 0;
        font-weight: 700;
        @include panel;
    }
    .infoBox-title {
        text-align: center;
        i::before {
            font-size: 1.4rem;
        }
    }
    .infoBox-number {
        text-align: center;
        font-size: 2.2rem;
    }
}

/*block2*/

.block2 {
    padding: 1.8rem 2rem;
    @include panel;
    .chart-title {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 2.5rem;
    }
}

/*block3*/

.transaction-box {
    padding: 1.6rem 2rem 0 2rem;
    @include panel;
    >.col {
        padding: 1.6rem 0;
        @include border-b-g;
        i {
            width: 15%;
        }
        .web-url {
            width: 40%;
            font-weight: 700;
            color: $grey4;
        }
        .web-client {
            width: 29%;
            padding-right: 2rem;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: right;
        }
        .web-percent {
            width: 16%;
        }
    }
    .shopify::before {
        content: url('../img/shopify.png');
        width: 50px;
        height: 50px;
    }
}

.orders-box {
    padding: 1.6rem 2rem 0 2rem;
    @include panel;
    >.col {
        padding: 0.6rem 0;
        @include border-b-g;
        .pic {
            width: 100px;
            height: 100px;
            overflow: hidden;
        }
        .info {
            width: calc(100% - 100px);
            padding: 0.5rem 1.25rem;
            h3 {
                font-size: 1.25rem;
            }
            p {
                color: $grey5;
                span {
                    color: $grey4;
                }
                .fa-male {
                    margin-left: 2px;
                }
                .totalNumber {
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }
    }
}

/*orders.html start*/
/*selectBar*/ 
.orders{
    .selecBar{
        .state-select{
            position: relative;
            input {
                width: 15px;
                height: 15px;
            }
            a{
                .fa-sort-down {
                    position: relative;
                    width: 20px;
                    height: 20px;
                }
                
                .fa-sort-down::before {
                    position: absolute;
                    top: 2px;
                }
            }
            .fa-tags{
                position: relative;
                width: 20px;
                height: 20px; 
            }
            .fa-tags::before {
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
            }
            .state-select-dropdown{
                position: absolute;
                max-height: 0;
                overflow: hidden;
                transition: all 1s;
                z-index: 2;
                li a{
                    background-color: #fff;
                    display: block;
                    height: 36px;
                    width: 125px;
                    text-align: center;
                    line-height: 36px;
                    color: #000;
                }
                li a:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .state-select:hover{
            .state-select-dropdown{
                max-height: 600px;
                @include panel;
            }
        }
        #dropdownMenuButton {
            background-color: rgba(255, 255, 255, 0);
            font-size: 0.9rem;
            font-weight: 700;
            border: none;
        }
        .dropdown-menu {
            min-width: 1rem;
            left: -50% !important;
            padding: 0;
            .dropdown-item {
                padding: 1rem 2.25rem;
            }
            .dropdown-item:hover {
                background-color: #000;
                color: #fff;
            }
        }
        .dropdown-toggle::after {
            color: #000;
        }
    }
    /*order-table*/
    .order-table{
        tr{
            th,td{
                padding: 0.7rem 1.5rem;
                line-height: 1.5;
                .product-money{
                    color: $grey4;
                }
                #dropdownMenuButton {
                    font-size: 0.9rem;
                    font-weight: 700;
                    padding: 0.5rem 1rem;
                    border: none;
                }
                .dropdown-menu {
                    min-width: 1rem;
                    padding: 0;
                    text-align: center;
                    .dropdown-item {
                        padding: 0.5rem 2rem;
                        color: #000;
                    }
                    .dropdown-item:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
                .dropdown-toggle::after {
                    color: rgb(255, 255, 255);
                }
            }
    
            .td-customer{
                position: relative;
               .td-checkbox{
                  position: absolute;
                  left: 10px;
                  top: 22px; 
               } 
            }
        } 
    }
    nav{
        ul li .page-link{
            color: #000;
        }
        ul li .page-link:hover{
            background-color: #000;
            color: #fff;
        }
    }
}
/*order.html end*/ 

/*product.html start*/
/*selectBar*/ 
.product{
    .selecBar{
        .state-select{
            position: relative;
            input {
                width: 15px;
                height: 15px;
            }
            a{
                .fa-sort-down {
                    position: relative;
                    width: 20px;
                    height: 20px;
                }
                
                .fa-sort-down::before {
                    position: absolute;
                    top: 2px;
                }
            }
            .fa-tags{
                position: relative;
                width: 20px;
                height: 20px; 
            }
            .fa-tags::before {
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
            }
            .state-select-dropdown{
                position: absolute;
                max-height: 0;
                overflow: hidden;
                transition: all 1s;
                z-index: 2;
                li a{
                    background-color: #fff;
                    display: block;
                    height: 36px;
                    width: 125px;
                    text-align: center;
                    line-height: 36px;
                    color: #000;
                }
                li a:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .btn.btn-primary{
            font-size: 0.9rem;
        }
        .state-select:hover{
            .state-select-dropdown{
                max-height: 600px;
                @include panel;
            }
        }
    }
    /*order-table*/
    .product-table{
        width: 100%;
        tr{
            th:nth-child(0n+1), td:nth-child(0n+1){
                padding: 0.7rem 2rem;
            }
            th,td{
                padding: 0.7rem 0;
                line-height: 1.5;
                vertical-align: top;
                &.product-price, &.product-inventory{
                    text-align: right;
                }
                span{
                    display: block;
                    &.product-size{
                        width:30%;
                    }
                    &.product-color{
                        width:29%;
                    }
                    &.product-inventory{
                        text-align: right;
                        width: 41%;
                    }
                }
                .product-img{
                    width: 50px;
                    height: 50px;
                }
                .product-money{
                    color: $grey4;
                }
                .dropdown{
                    bottom: 24px;
                    #dropdownMenuButton {
                        font-size: 0.9rem;
                        font-weight: 700;
                        padding: 0.5rem 1rem;
                        border: none;
                    }
                    .dropdown-menu {
                        min-width: 1rem;
                        padding: 0;
                        text-align: center;
                        .dropdown-item {
                            padding: 0.5rem 2rem;
                            color: #000;
                        }
                        .dropdown-item:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                    .dropdown-toggle::after {
                        color: rgb(255, 255, 255);
                    }
                }
            }
    
            .td-customer{
                position: relative;
               .td-checkbox{
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  left: 10px;
                  top: 18px; 
               } 
            }
        } 
    }
}