@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: 1px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*顏色*/
.green {
  color: #7ED321;
}

.red {
  color: #D0021B;
}

.grey4 {
  color: #9B9B9B;
}

.blue {
  color: #4A90E2;
}

.bg-grey {
  background-color: #EBEBEB;
}

.bg-grey4 {
  background-color: #9B9B9B;
}

.bg-green {
  background-color: #7ED321;
}

.bg-blue {
  background-color: #4A90E2;
}

.bg-orange {
  background-color: #F5A623;
}

/*header*/
header {
  background-color: black;
  color: #fff;
  font-weight: 700;
}

header .navbar {
  align-items: unset;
}

header .navbar h1 {
  margin-right: 60px;
}

header .navbar h1 a {
  color: #fff;
  font-size: 1.5rem;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  color: #C8C8C8;
  padding: 1.5rem 1rem;
  border-bottom: 3px solid #000;
  transition: all 0.5s;
}

header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

/*index.html start*/
/*main*/
.main {
  background-color: #F2F2F2;
}

/*title*/
.title h2 {
  font-size: 1.5rem;
}

.title-dateBox {
  color: #9B9B9B;
}

.title-dateBox #dropdownMenuButton {
  background-color: rgba(255, 255, 255, 0);
  color: #9B9B9B;
  border: none;
}

.title-dateBox .dropdown-menu {
  min-width: 1rem;
  left: -50% !important;
  padding: 0;
}

.title-dateBox .dropdown-menu .dropdown-item {
  padding: 1rem 2.25rem;
}

.title-dateBox .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

.title-dateBox .dropdown-toggle::after {
  color: #000;
}

/*block1*/
.block1 .infoBox {
  padding: 1.9rem 0;
  font-weight: 700;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.block1 .infoBox-title {
  text-align: center;
}

.block1 .infoBox-title i::before {
  font-size: 1.4rem;
}

.block1 .infoBox-number {
  text-align: center;
  font-size: 2.2rem;
}

/*block2*/
.block2 {
  padding: 1.8rem 2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.block2 .chart-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 2.5rem;
}

/*block3*/
.transaction-box {
  padding: 1.6rem 2rem 0 2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.transaction-box > .col {
  padding: 1.6rem 0;
  border-bottom: 1px solid #E1E1E1;
}

.transaction-box > .col i {
  width: 15%;
}

.transaction-box > .col .web-url {
  width: 40%;
  font-weight: 700;
  color: #9B9B9B;
}

.transaction-box > .col .web-client {
  width: 29%;
  padding-right: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: right;
}

.transaction-box > .col .web-percent {
  width: 16%;
}

.transaction-box .shopify::before {
  content: url("../img/shopify.png");
  width: 50px;
  height: 50px;
}

.orders-box {
  padding: 1.6rem 2rem 0 2rem;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.orders-box > .col {
  padding: 0.6rem 0;
  border-bottom: 1px solid #E1E1E1;
}

.orders-box > .col .pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.orders-box > .col .info {
  width: calc(100% - 100px);
  padding: 0.5rem 1.25rem;
}

.orders-box > .col .info h3 {
  font-size: 1.25rem;
}

.orders-box > .col .info p {
  color: #757575;
}

.orders-box > .col .info p span {
  color: #9B9B9B;
}

.orders-box > .col .info p .fa-male {
  margin-left: 2px;
}

.orders-box > .col .info p .totalNumber {
  font-size: 1.25rem;
  font-weight: 700;
}

/*orders.html start*/
/*selectBar*/
.orders {
  /*order-table*/
}

.orders .selecBar .state-select {
  position: relative;
}

.orders .selecBar .state-select input {
  width: 15px;
  height: 15px;
}

.orders .selecBar .state-select a .fa-sort-down {
  position: relative;
  width: 20px;
  height: 20px;
}

.orders .selecBar .state-select a .fa-sort-down::before {
  position: absolute;
  top: 2px;
}

.orders .selecBar .state-select .fa-tags {
  position: relative;
  width: 20px;
  height: 20px;
}

.orders .selecBar .state-select .fa-tags::before {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.orders .selecBar .state-select .state-select-dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  z-index: 2;
}

.orders .selecBar .state-select .state-select-dropdown li a {
  background-color: #fff;
  display: block;
  height: 36px;
  width: 125px;
  text-align: center;
  line-height: 36px;
  color: #000;
}

.orders .selecBar .state-select .state-select-dropdown li a:hover {
  background-color: #000;
  color: #fff;
}

.orders .selecBar .state-select:hover .state-select-dropdown {
  max-height: 600px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.orders .selecBar #dropdownMenuButton {
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
}

.orders .selecBar .dropdown-menu {
  min-width: 1rem;
  left: -50% !important;
  padding: 0;
}

.orders .selecBar .dropdown-menu .dropdown-item {
  padding: 1rem 2.25rem;
}

.orders .selecBar .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

.orders .selecBar .dropdown-toggle::after {
  color: #000;
}

.orders .order-table tr th, .orders .order-table tr td {
  padding: 0.7rem 1.5rem;
  line-height: 1.5;
}

.orders .order-table tr th .product-money, .orders .order-table tr td .product-money {
  color: #9B9B9B;
}

.orders .order-table tr th #dropdownMenuButton, .orders .order-table tr td #dropdownMenuButton {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
}

.orders .order-table tr th .dropdown-menu, .orders .order-table tr td .dropdown-menu {
  min-width: 1rem;
  padding: 0;
  text-align: center;
}

.orders .order-table tr th .dropdown-menu .dropdown-item, .orders .order-table tr td .dropdown-menu .dropdown-item {
  padding: 0.5rem 2rem;
  color: #000;
}

.orders .order-table tr th .dropdown-menu .dropdown-item:hover, .orders .order-table tr td .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

.orders .order-table tr th .dropdown-toggle::after, .orders .order-table tr td .dropdown-toggle::after {
  color: white;
}

.orders .order-table tr .td-customer {
  position: relative;
}

.orders .order-table tr .td-customer .td-checkbox {
  position: absolute;
  left: 10px;
  top: 22px;
}

.orders nav ul li .page-link {
  color: #000;
}

.orders nav ul li .page-link:hover {
  background-color: #000;
  color: #fff;
}

/*order.html end*/
/*product.html start*/
/*selectBar*/
.product {
  /*order-table*/
}

.product .selecBar .state-select {
  position: relative;
}

.product .selecBar .state-select input {
  width: 15px;
  height: 15px;
}

.product .selecBar .state-select a .fa-sort-down {
  position: relative;
  width: 20px;
  height: 20px;
}

.product .selecBar .state-select a .fa-sort-down::before {
  position: absolute;
  top: 2px;
}

.product .selecBar .state-select .fa-tags {
  position: relative;
  width: 20px;
  height: 20px;
}

.product .selecBar .state-select .fa-tags::before {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
}

.product .selecBar .state-select .state-select-dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
  z-index: 2;
}

.product .selecBar .state-select .state-select-dropdown li a {
  background-color: #fff;
  display: block;
  height: 36px;
  width: 125px;
  text-align: center;
  line-height: 36px;
  color: #000;
}

.product .selecBar .state-select .state-select-dropdown li a:hover {
  background-color: #000;
  color: #fff;
}

.product .selecBar .btn.btn-primary {
  font-size: 0.9rem;
}

.product .selecBar .state-select:hover .state-select-dropdown {
  max-height: 600px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.product .product-table {
  width: 100%;
}

.product .product-table tr th:nth-child(0n+1), .product .product-table tr td:nth-child(0n+1) {
  padding: 0.7rem 2rem;
}

.product .product-table tr th, .product .product-table tr td {
  padding: 0.7rem 0;
  line-height: 1.5;
  vertical-align: top;
}

.product .product-table tr th.product-price, .product .product-table tr th.product-inventory, .product .product-table tr td.product-price, .product .product-table tr td.product-inventory {
  text-align: right;
}

.product .product-table tr th span, .product .product-table tr td span {
  display: block;
}

.product .product-table tr th span.product-size, .product .product-table tr td span.product-size {
  width: 30%;
}

.product .product-table tr th span.product-color, .product .product-table tr td span.product-color {
  width: 29%;
}

.product .product-table tr th span.product-inventory, .product .product-table tr td span.product-inventory {
  text-align: right;
  width: 41%;
}

.product .product-table tr th .product-img, .product .product-table tr td .product-img {
  width: 50px;
  height: 50px;
}

.product .product-table tr th .product-money, .product .product-table tr td .product-money {
  color: #9B9B9B;
}

.product .product-table tr th .dropdown, .product .product-table tr td .dropdown {
  bottom: 24px;
}

.product .product-table tr th .dropdown #dropdownMenuButton, .product .product-table tr td .dropdown #dropdownMenuButton {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: none;
}

.product .product-table tr th .dropdown .dropdown-menu, .product .product-table tr td .dropdown .dropdown-menu {
  min-width: 1rem;
  padding: 0;
  text-align: center;
}

.product .product-table tr th .dropdown .dropdown-menu .dropdown-item, .product .product-table tr td .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5rem 2rem;
  color: #000;
}

.product .product-table tr th .dropdown .dropdown-menu .dropdown-item:hover, .product .product-table tr td .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

.product .product-table tr th .dropdown .dropdown-toggle::after, .product .product-table tr td .dropdown .dropdown-toggle::after {
  color: white;
}

.product .product-table tr .td-customer {
  position: relative;
}

.product .product-table tr .td-customer .td-checkbox {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 10px;
  top: 18px;
}
/*# sourceMappingURL=all.css.map */