/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    letter-spacing: 1px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/*顏色*/ 
$red:#D0021B;
$orange:#F5A623;
$blue:#4A90E2;
$green:#7ED321;
$grey1:#F2F2F2;
$grey2:#E1E1E1;
$grey3:#C8C8C8;
$grey4:#9B9B9B ;
$grey5:#757575;

.green{
    color: $green;
}
.red{
    color: $red;
}
.blue{
    color: $blue;
}

.panel{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 5px rgb(223, 223, 223);
}
.border-b{
    border-bottom: 1px solid $grey2;
}
/*header*/
header{
    background-color: black;
    color: #fff;
    font-weight: 700;
    .navbar{
        align-items: unset;
        h1{
            margin-right:60px;
            a{
                color: #fff;
                font-size: 1.5rem;
            }
        }      
    } 
    .navbar-expand-lg .navbar-nav .nav-link{
        color: $grey3;
        padding:1.5rem 1rem;
        border-bottom: 3px solid #000;
        transition: all 0.5s;
    }
    .navbar-expand-lg .navbar-nav .nav-link:hover{
        color: #fff;
        border-bottom: 3px solid #fff;
    }
} 
/*main*/
.main{
    background-color: $grey1;
} 
/*title*/
.title{
    h2{
        font-size: 1.5rem;
    }
}
.title-dateBox{
    color:$grey4;
    #dropdownMenuButton{
        background-color: rgba(255, 255, 255, 0);
        color:$grey4;
    }
    .dropdown-menu{
        min-width: 1rem;
        left: -50% !important;
        padding: 0;
        .dropdown-item{
            padding: 1rem 2.25rem;
        }
        .dropdown-item:hover{
            background-color: #000;
            color: #fff;
        }
    }
    .dropdown-toggle::after{
        color: #000;
    }
} 
/*block1*/ 
.block1 {
    .infoBox{
        padding: 1.9rem 0;
        font-weight: 700;    
    }
    .infoBox-title{
        text-align: center;
        i::before{
            font-size: 1.4rem;
        }
    }
    .infoBox-number{
        text-align: center;
        font-size: 2.2rem;
    }
}
/*block2*/
.block2{
    padding: 1.8rem 2rem;
    .chart-title{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0 2.5rem;
    }
} 
/*block3*/
.transaction-box{
    padding: 1.6rem 2rem 0 2rem;
    > .col{
        padding: 1.6rem 0;
        i{
            width: 15%;
        }
        .web-url{
            width: 40%;
            font-weight: 700;
            color: $grey4;
        }
        .web-client{
            width: 29%;
            padding-right:2rem; 
            font-size: 1.25rem;
            font-weight: 600;
            text-align: right;
        }
        .web-percent{
            width: 16%;
        }
    }
    .shopify::before{
        content:  url('../img/shopify.png');
        width: 50px;
        height: 50px;
    }
}
.orders-box{
    padding: 1.6rem 2rem 0 2rem;
    > .col{
        padding: 0.6rem 0;
        .pic{
            width: 100px;
            height: 100px;
            overflow: hidden;
        }
        .info{
            width: calc(100% - 100px);
            padding: 0.5rem 1.25rem;
            h3{
                font-size: 1.25rem;
            }
            p{
                color: $grey5;
                span{
                    color: $grey4;
                }
                .fa-male{
                    margin-left: 2px;
                }
                .totalNumber{
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }
    }
}
