@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: 1px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*顏色*/
.green {
  color: #7ED321;
}

.red {
  color: #D0021B;
}

.blue {
  color: #4A90E2;
}

.panel {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px #dfdfdf;
}

.border-b {
  border-bottom: 1px solid #E1E1E1;
}

/*header*/
header {
  background-color: black;
  color: #fff;
  font-weight: 700;
}

header .navbar {
  align-items: unset;
}

header .navbar h1 {
  margin-right: 60px;
}

header .navbar h1 a {
  color: #fff;
  font-size: 1.5rem;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  color: #C8C8C8;
  padding: 1.5rem 1rem;
  border-bottom: 3px solid #000;
  transition: all 0.5s;
}

header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

/*main*/
.main {
  background-color: #F2F2F2;
}

/*title*/
.title h2 {
  font-size: 1.5rem;
}

.title-dateBox {
  color: #9B9B9B;
}

.title-dateBox #dropdownMenuButton {
  background-color: rgba(255, 255, 255, 0);
  color: #9B9B9B;
}

.title-dateBox .dropdown-menu {
  min-width: 1rem;
  left: -50% !important;
  padding: 0;
}

.title-dateBox .dropdown-menu .dropdown-item {
  padding: 1rem 2.25rem;
}

.title-dateBox .dropdown-menu .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}

.title-dateBox .dropdown-toggle::after {
  color: #000;
}

/*block1*/
.block1 .infoBox {
  padding: 1.9rem 0;
  font-weight: 700;
}

.block1 .infoBox-title {
  text-align: center;
}

.block1 .infoBox-title i::before {
  font-size: 1.4rem;
}

.block1 .infoBox-number {
  text-align: center;
  font-size: 2.2rem;
}

/*block2*/
.block2 {
  padding: 1.8rem 2rem;
}

.block2 .chart-title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 2.5rem;
}

/*block3*/
.transaction-box {
  padding: 1.6rem 2rem 0 2rem;
}

.transaction-box > .col {
  padding: 1.6rem 0;
}

.transaction-box > .col i {
  width: 15%;
}

.transaction-box > .col .web-url {
  width: 40%;
  font-weight: 700;
  color: #9B9B9B;
}

.transaction-box > .col .web-client {
  width: 29%;
  padding-right: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: right;
}

.transaction-box > .col .web-percent {
  width: 16%;
}

.transaction-box .shopify::before {
  content: url("../img/shopify.png");
  width: 50px;
  height: 50px;
}

.orders-box {
  padding: 1.6rem 2rem 0 2rem;
}

.orders-box > .col {
  padding: 0.6rem 0;
}

.orders-box > .col .pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.orders-box > .col .info {
  width: calc(100% - 100px);
  padding: 0.5rem 1.25rem;
}

.orders-box > .col .info h3 {
  font-size: 1.25rem;
}

.orders-box > .col .info p {
  color: #757575;
}

.orders-box > .col .info p span {
  color: #9B9B9B;
}

.orders-box > .col .info p .fa-male {
  margin-left: 2px;
}

.orders-box > .col .info p .totalNumber {
  font-size: 1.25rem;
  font-weight: 700;
}
/*# sourceMappingURL=index.css.map */